@import '~@angular/material/theming';

/*
FOR INNER USAGE!
To create angular material custom theme
 */

$_app-mat-primary: mat-palette($mat-blue);
$_app-mat-accent: mat-palette($mat-purple, A200, A100, A400);
$_app-mat-warn: mat-palette($mat-red);

$app-mat-theme: mat-light-theme($_app-mat-primary, $_app-mat-accent, $_app-mat-warn);

$_app-mat-foreground: map-get($app-mat-theme, foreground);
$_app-mat-background: map-get($app-mat-theme, background);


/*
colors that can be used in other components for styling
 */

$app-mat-color-primary: mat-color($_app-mat-primary);
$app-mat-color-accent: mat-color($_app-mat-accent);
$app-mat-color-warn: mat-color($_app-mat-warn);
$app-mat-color-background: #eee;
$app-mat-color-background2: #fff;
$app-mat-color-text: #000;
$app-mat-color-text2: #AAAA9E;
$app-mat-color-text3: #fff;

/*
size variables
*/

$toolbar-height: 64px;
$toolbar-height2: 56px;

$footer-height: 56px;

$sidebar-width: 400px;

$nav-icon-size: 20pt;


/*
Breakpoints
*/

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1200px;

$material-breakpoint-xsmall: 599px;

