@import 'variables';

:host {
  height: 100%;
  display: flex;
  justify-content: center;
}

.list-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100%;

  @media (min-width: $screen-xlg) {
    width: 50%;
  }

  @media (min-width: $screen-md) {
    width: 70%;
  }
}

.movie-preview {
  margin-bottom: 10px;
}

.discover-movies-hint {
  padding: 50px;
  text-align: center;
  border-radius: 2px;
  box-shadow: inset 0 0 16px -4px rgba(0,0,0,0.26);

  p {
    color: $app-mat-color-text2;
  }

  .title-icon {
    font-size: 32pt;
  }

  mat-icon {
    color: $app-mat-color-text2;
  }
}
