<div class="list-container">
  <ng-container *ngIf="movies.length">
    <app-movie-preview
      class="movie-preview"
      *ngFor="let movie of movies"
      [movie]="movie"
      (linkClicked)="linkClicked($event)"
    ></app-movie-preview>

    <mat-paginator
      *ngIf="paginatorOptions.length > paginatorOptions.pageSize"
      [length]="paginatorOptions.length"
      [pageSize]="paginatorOptions.pageSize"
      [hidePageSize]="paginatorOptions.hidePageSize"
      [pageIndex]="paginatorOptions.pageIndex"
      (page)="pageChanged($event)"
    ></mat-paginator>
  </ng-container>

  <ng-container *ngIf="!movies.length">
    <div class="discover-movies-hint">
      <mat-icon class="title-icon">find_in_page</mat-icon>
      <p>
        Use master to discover movies
      </p>
      <button (click)="openSidebar()" mat-raised-button>Discover movies</button>
    </div>
  </ng-container>
</div>
