<div class="temp">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>TOOLBAR</span> <a routerLink="">back <- </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button (click)="toggleSidebar()">toggle</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav mode="side" [opened]="sidebarOpened">
        <p>dfjkghdfkghdfjkghdfkgh</p>
        <app-discover-film-master></app-discover-film-master>
        <!--<router-outlet name="sidebar"></router-outlet>-->
      </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
