@import 'variables';

mat-sidenav {
  width: $sidebar-width;
  @media (max-width: $screen-sm) {
    width: 100%;
  }
}
mat-sidenav-container {
  display: block;
  position: absolute;
  @include set-toolbar-value-to-property(top);
  bottom: 0;
  left: 0;
  right: 0;
  background: $app-mat-color-background;

  mat-sidenav {
  }

  mat-sidenav-content {
    width: 100%;
  }
}

mat-progress-bar {
  position: fixed;
  z-index: 1;
}

.progress-bar-container {
  position: relative;
  top: 1px;
}
