<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-toolbar-content></app-toolbar-content>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="side" [opened]="sidebarOpened$ | async">
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="progress-bar-container">
      <mat-progress-bar *ngIf="showProgressBar" mode="query" color="primary"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
