@import 'variables';

mat-sidenav {
  width: 400px;

}
mat-sidenav-container {
  min-height: calc(100vh - #{$toolbar-height});
  background: #eee;
  //display: flex;
  //flex-direction: column;

  mat-sidenav {
    //flex: 1 0 auto;
  }
}

footer {
  display: block;
  height: 100px;
  width: 100%;
  background: #111;
  //flex-shrink: 0;
}
