@import 'variables';

:host {
  text-align: center;
  display: block;
  height: 100%;
  background: $app-mat-color-background2;
}

.container {
  text-align: left;
  display: inline-block;
  width: 80%;

  .images {
    img {
      width: 33%;
      @media (max-width: $screen-lg) {
        width: 50%;
      }
      @media(max-width: $screen-sm) {
        width: 100%;
      }
    }
    @media(max-width: $screen-sm) {
      text-align: center;
    }
  }
}
