@import 'variables';

.preview-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;

  .preview-image {
    width: 200px;
    height: 100px;

    img {
      display: inline-block;
      width: 200px;
      height: 100px;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .title a {
    color: #000;
    text-decoration: none;
  }

  .description {
    margin-left: 10px;
  }

  .mobile-preview-image {
    display: block;
    img {
      width: 100%;
    }
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.link {
  cursor: pointer;
}
