@import 'variables';

.preview-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;

  .preview-image {
    $img-height: 100px;
    $img-weight: 200px;

    width: $img-weight;
    height: $img-height;

    img {
      display: inline-block;
      width: $img-weight;
      height: $img-height;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .title a {
    color: $app-mat-color-text;
    text-decoration: none;
  }

  .description {
    margin-left: 10px;
  }

  .mobile-preview-image {
    display: block;
    img {
      width: 100%;
    }
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.link {
  cursor: pointer;
}
