@import 'variables';

:host {
  display: block;
  height: 100%;
  text-align: center;
  background: $app-mat-color-background2;
}

.container {
  text-align: left;
  display: inline-block;
  width: 80%;

  .images {
    margin-bottom: 10px;

    img {
      width: 33%;
      float: left;

      @media (max-width: $screen-lg) {
        width: 50%;
      }

      @media(max-width: $screen-sm) {
        width: 100%;
      }
    }

    @media(max-width: $screen-sm) {
      text-align: center;
    }
  }

  .genres {
    .mat-chip {
      margin: 2px 2px 2px 0;
    }
  }
}
